@import '@/styles/constants.scss';
@import '@/styles/_mixins.scss';

.root {
    padding: 30dvh 20px;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 50px;

    & p {
        font-weight: 600;
    }

    & a {
        font-weight: 300;
    }
}

@media screen and (min-width: $screen__m) {
    .root {
        padding: 40dvh 40px;
    }
}